html {
  font-family: Tahoma, sans-serif;
  scroll-behavior: smooth;
}

input {
  font-family: Tahoma, sans-serif;
  border: solid 1px #162955;
  box-shadow: inset 0 0 2px #4f628e;
}

textarea {
  font-family: Tahoma, sans-serif;
  border: solid 1px #162955;
  box-shadow: inset 0 0 2px #4f628e;
}

body {
  padding: 0;
  margin: 0;
}

/* main layout */

#main-wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  min-height: 100vh;
  height: auto;
}

#sidebar {
  position: sticky;
  top: 40vh;
  align-self: baseline;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#sidebar nav {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
}

#sidebar nav button {
  font-size: 110%;
  margin-top: 5px;
  width: 100%;
}

#sidebar nav .logout-button {
  margin-top: 25px;
}

#main-content-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2px;
  width: 100%;
}

/* main layout end */

/* login */
#login-form-wrapper {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#login-form {
  margin: 0 auto;
  display: grid;
  height: 20vh;
  width: 30vh;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}

#login-username {
  grid-row: 1/2;
  margin-bottom: 5px;
}

#login-password {
  grid-row: 2/3;
  margin-top: 5px;
}

#login-submit {
  font-size: 120%;
  grid-row: 3/4;
  margin-top: 40px;
  background-color: white;
  border: solid 1px #162955;
  box-shadow: 1px 2px 2px #4f628e;
}

#login-submit:hover {
  cursor: pointer;
  color: white;
  background-color: #162955;
}

#login-submit:active {
  box-shadow: 0 0 0;
}

#to-registration {
  grid-row: 4/5;
  margin-top: 15px;
}

#to-registration:hover {
  color: #4f628e;
}

a {
  color: black;
}

a:hover {
  color: #4f628e;
}

/* login end */

/* registration */

#register-form-wrapper {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#register-form {
  margin: auto;
  margin: 0 auto;
  display: grid;
  height: 30vh;
  width: 30vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-columns: 30vh;
  text-align: center;
}

#register-username-wrapper {
  grid-row: 1/2;
}

.relative {
  position: relative;
}

.register-label-starter {
  position: absolute;
  left: 5px;
  top: 19px;
  font-size: 80%;
  z-index: 1;
  transition: all 200ms ease;
}

.register-label-end {
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 80%;
  z-index: 1;
}

.register-label:hover {
  cursor: inherit;
}

.register-input {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  right: 0;
  bottom: 0;
}

#register-password-wrapper {
  grid-row: 2/3;
}

#register-passwordRepeate-wrapper {
  grid-row: 3/4;
}

#register-email-wrapper {
  grid-row: 4/5;
}

#register-submit {
  font-size: 120%;
  grid-row: 5/6;
  margin-top: 40px;
  background-color: white;
  border: solid 1px #162955;
  box-shadow: 1px 2px 2px #4f628e;
}

#register-submit:hover {
  cursor: pointer;
  color: white;
  background-color: #162955;
}

#register-submit:active {
  box-shadow: 0 0 0;
}

#to-login {
  margin-top: 15px;
}

/* registration end */

/* flash messege */

#flash-message-wrapper {
  position: absolute;
  max-width: 40vh;
  max-height: fit-content;
  top: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  transition: opacity 400ms ease;
}

#flash-message-wrapper .flash-message {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

#flash-message-wrapper .success {
  background-color: green;
}

#flash-message-wrapper .warning {
  background-color: orange;
}

#flash-message-wrapper .error {
  background-color: red;
}

/* flash messege end */

/* post*/

.post-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto minmax(15%);
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.493);
  box-sizing: border-box;
}

.post-wrapper h1 {
  font-size: 120%;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  margin: 10px 0;
}

.post-wrapper .post-body {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 10px 0;
}

.post-wrapper .post-username {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: center;
}

.post-wrapper .post-username:hover {
  color: #4f628e;
}

.post-wrapper .post-create-date {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}

.post-wrapper button {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0);
}

.post-wrapper button:hover {
  cursor: pointer;
}

.post-wrapper a {
  color: black;
}

.post-wrapper a:hover {
  color: red;
}

/* post end*/

/* create post*/

#create-post-div {
  width: 100%;
  height: fit-content;
  padding-bottom: 5px;
}

#make-a-post-button {
  width: 100%;
}

#make-a-post-button:hover {
  cursor: pointer;
}

#post-input-wrapper {
  background-color: #4f628e46;
  height: 20vh;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  padding: 10px;
}

#post-title {
  grid-row: 1/2;
  box-shadow: 1px 2px 2px #4f628e;
}

#post-body {
  grid-row: 2/3;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 2px 2px #4f628e;
}

#post-submit {
  grid-row: 3/4;
}

/* create post end */

/*sidebar */

/* sidebar end */
.round-corner {
  border-radius: 5px;
}

.hidden {
  opacity: 0;
}

.display-none {
  display: none;
}

.display-grid {
  display: grid;
}

button {
  background-color: white;
  border: solid 1px #162955;
  box-shadow: 1px 2px 2px #4f628e;
  transition: all 150ms;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #162955;
}

button:active {
  cursor: pointer;
  box-shadow: 0 0 0;
}
